pathlib~=1.0.1
platformdirs~=4.2.2
pip~=24.0
build~=1.2.1
wheel~=0.43.0
keyring~=24.3.1
pkginfo~=1.11.0
altgraph~=0.17.4
macholib~=1.16.3
setuptools~=70.0.0
cffi~=1.16.0
certifi~=2024.6.2
idna~=3.7
urllib3~=2.2.2
packaging~=24.0
requests~=2.32.3
tomlkit~=0.12.5
installer~=0.7.0